* , ::before , ::after{padding: 0;margin: 0;box-sizing: border-box;}
html{font-size: 15px;}
li{list-style: none; }
a{text-decoration: none; color: wheat;}
button{ padding: 0; cursor: pointer; background: none; border: none; }
.flex{display: flex;}
.justify-sb{justify-content: space-between;}
.center{ display: grid; place-items: center; }

.container{ max-width: 1200px; margin: auto; padding: 0 1rem; }

.row{ display: flex; flex-flow: wrap; margin: 0 -1rem; }

[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem; }

/* Column partitions */
.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-12{ flex-basis: 100%; max-width: 100%; }



/* Laptop css styling */
.cover{border: 1px solid black; border-left: 4px solid rgb(67, 67, 190); border-top: 2px solid rgb(67, 67, 190); border-bottom: 15px solid rgb(67, 67, 190); border-right: 30px solid rgb(67, 67, 190); margin-top: 5rem;}
h1{text-align: center; margin-top: 3rem;}
h3{font-size: 1.5rem; margin-bottom: 1rem; font-weight: 400;}
label{font-size: 1.5rem; display: flex; flex-direction: column; margin-top: 5rem;}
input{margin-top: 1rem; width: 100%;}
/* .contury{margin-left: 0.5rem; margin-top: 3rem; margin-bottom: 3rem;} */
P{margin-left: 2.5rem; margin-bottom: 3rem;}
.submit_button{display: flex;justify-content: center; margin-bottom: 6rem; }
.submit_button button{background: rgb(67, 67, 190);margin-top: 4rem; padding: 2rem 3rem}
.submit{color: #fff;background: none; border:rgb(67, 67, 190); font-size: 1.8rem; margin-top: 0.6rem;}
/* form{margin-left: -2rem;} */
select{width: 100%;}


.second-row-input{margin-top: 5rem;}
.write-content{text-align: center; margin-top: 7rem;}
/* .first_side{margin-left: .7rem;} */
 










@media screen and (max-width: 767px){
    html{font-size: 14px;};
    .col-t-1{ flex-basis: 8.33%; max-width: 8.33%; }
    .col-t-2{ flex-basis: 16.66%; max-width: 16.66%; }
    .col-t-3{ flex-basis: 25%; max-width: 25%; }
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-t-5{ flex-basis: 41.66%; max-width: 41.66%; }
    .col-t-6{ flex-basis: 50%; max-width: 50%; }
    .col-t-7{ flex-basis: 58.33%; max-width: 58.33%; }
    .col-t-8{ flex-basis: 66.66%; max-width: 66.66%; }
    .col-t-9{ flex-basis: 75%; max-width: 75%; }
    .col-t-10{ flex-basis: 83.33%; max-width: 83.33%; }
    .col-t-12{ flex-basis: 100%; max-width: 100%; }
}



@media screen and (max-width: 600px){
    .col-lp-1{ flex-basis: 8.33%; max-width: 8.33%; }
    .col-lp-2{ flex-basis: 16.66%; max-width: 16.66%; }
    .col-lp-3{ flex-basis: 25%; max-width: 25%; }
    .col-lp-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-lp-5{ flex-basis: 41.66%; max-width: 41.66%; }
    .col-lp-6{ flex-basis: 50%; max-width: 50%; }
    .col-lp-7{ flex-basis: 58.33%; max-width: 58.33%; }
    .col-lp-8{ flex-basis: 66.66%; max-width: 66.66%; }
    .col-lp-9{ flex-basis: 75%; max-width: 75%; }
    .col-lp-10{ flex-basis: 83.33%; max-width: 83.33%; }
    .col-lp-12{ flex-basis: 100%; max-width: 100%; }
}


@media screen and (max-width: 460px){
    html{font-size: 13px;};
    .col-p-1{ flex-basis: 8.33%; max-width: 8.33%; }
    .col-p-2{ flex-basis: 16.66%; max-width: 16.66%; }
    .col-p-3{ flex-basis: 25%; max-width: 25%; }
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-p-5{ flex-basis: 41.66%; max-width: 41.66%; }
    .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .col-p-7{ flex-basis: 58.33%; max-width: 58.33%; }
    .col-p-8{ flex-basis: 66.66%; max-width: 66.66%; }
    .col-p-9{ flex-basis: 75%; max-width: 75%; }
    .col-p-10{ flex-basis: 83.33%; max-width: 83.33%; }
    .col-p-12{ flex-basis: 100%; max-width: 100%; }

    /* .arrow{margin-top: 3rem 0;} */

    /* label{margin-left: 0;} */
    /* input{margin-top: 1rem; height: 2rem;} */
    /* .contury{margin-left: -2rem; } */
    /* P{margin-left:0;} */
    /* .submit_button{ margin-left: -1rem; background: rgb(67, 67, 190); margin-left: 0.5rem;} */
    /* button{ margin-left: -5px; } */
    .arrow{margin-top: 2rem;}
    .submit{font-size: 1.5rem;}
    .cover{margin-bottom: 3rem;}

 
}






